<!-- templates/patient_search.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>患者ID検索</title>
</head>
<body>
<h1>患者ID検索</h1>
<form method="GET" action="{% url 'patient_search' %}">
    <input type="text" name="query" placeholder="IDで検索">
    <button type="submit">検索</button>
</form>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
<table border="1">
    <tr>
        <th>患者氏名</th>
        <th></th>
    </tr>
    {% for patient in patients %}
        <tr>
            <td>{{ patient.patlname }}{{ patient.patfname }}</td>
            <td>
                <form method="GET" action="{% url 'patient_prescriptions' patient.patid %}">
                    <button type="submit">処置履歴</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
